@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Lato, sans-serif;
    text-align: center;
  }
  
h1 {
    color: #64B5F6;
  }